<a class="nav-labels" href="/users/home" id="nav-home">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Newsfeed
</a>
<a class="nav-labels" href="/users/connections">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Connections
</a>
<a class="nav-labels" href="/users/media">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Media
</a>
<a class="nav-labels" href="/users/places">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Places
</a>
<a class="nav-labels" href="/users/quotes" id="nav-quotes">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Quotes/Lyrics
</a>
<a class="nav-labels" href="/users/freewrite">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Freewrite
</a>
<a class="nav-labels" href="/users/timeline">
    <img src="/images/icon-home.png" width="25px" height="25px" alt="" id="nav-images">
    Timeline
</a>
<hr class="navbar-hr">