<ul>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Newsfeed</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Connections</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Media</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Places</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Quotes/Lyrics</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Freewrite</div></li>
    <li><img src="/images/icon-home.png" width="25px" height="25px" alt="">
        <div class="nav-labels">Timeline</div></li>
    <hr class="navbar-hr">
    <div class="datepicker">
        Start Date
        <input type="date" id="datepicker">
        End Date
        <input type="date" id="datepicker">
    </div>
</ul>