<% include head_homepage %>
<style>
.profile-pic {
  background: url('/images/icon-profilepicture.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 100px;
  height: 100px;
}
/* .profile-pic:hover {

} */
.selectors {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#quotes, #lyrics {
    width: 8vw;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    padding: .5vh;
}
#quotes:hover, #lyrics:hover {
    cursor: pointer;
}

</style>
<body>
  <div class="flex-container">
    <header>
      <div class="left-header">
        <div class="profile-pic"></div>
      </div>
      <div class="center-header">
        <input type="text" class="google-search" placeholder="Google Search">
      </div>
      <div class="right-header">
        <img src="/images/icon-googleapps.png" width="25px" height="25px" alt="">
        <img src="/images/icon-menu.jpg" width="25px" height="25px" alt="">
        <a href="/" id="logout">Logout</a>
      </div>
    </header>
    <hr class="header-hr">
    <div class="filter-bar">
      <div class="welcome">
        Welcome!
      </div>
      <div class="selectors">
          <div class="selected" id="quotes">
            Quotes
          </div>
          <div id="lyrics">
            Lyrics
          </div>
      </div>
      <div class="datepicker">
          Start Date
          <input type="date" id="datepicker">
          End Date
          <input type="date" id="datepicker">
      </div>
    </div>
    <hr class="navbar-hr">
    <div class="body-container">
      <div class="navbar"><% include navbar %></div>
      <div class="main-container-quotes">
        <div class="row-quotes-first">
            Insert here
        </div>
        <div class="row-quotes">
            "Speak softly and carry a big stick."
            - Theodore Roosevelt
        </div>
        <div class="row-quotes">

        </div>
        <div class="row-quotes">

        </div>
        <div class="row-quotes">

        </div>
        <div class="row-quotes">

        </div>
        <div class="row-quotes">

        </div>
        <div class="row-quotes">

        </div>
      </div>
      <div class="main-container-lyrics hidden">

      </div>
    </div>
  </div>
<script>
$(document).ready(function () {

    $('#nav-quotes').addClass('selected');

  const controlClick = (e) => {
    const el = e.target;

    if (el.id === 'quotes') {
        $('#quotes, #lyrics').removeClass('selected');
        $('#quotes').addClass('selected');
    } else if (el.id === 'lyrics') {
        $('#quotes, #lyrics').removeClass('selected');
        $('#lyrics').addClass('selected');
    }
  }

  window.addEventListener('click', controlClick);
});
</script>
</body>
</html>