* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.flex-container {
  width: 100%;
  height: 97vh;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}
.left-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 15%;
}
/* .profile-pic {
  background: url('/images/icon-profilepicture.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 100px;
  height: 100px;
} */
.center-header {
  display: flex;
  flex-direction: column nowrap;
  justify-content: center;
  width: 70%;
}
.google-search {
  width: 40vw;
  height: 6vh;
  border-radius: 25px;
  text-align: center;
}
.google-search:focus { 
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.right-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  width: 15%;
}
#logout {
  text-decoration: none;
  color: dodgerblue;
}

.header-hr {
  border: 2px solid rgb(233, 230, 230);
  margin-bottom: 0;
}
.filter-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  padding: 0 10px 0 10px;
  background: whitesmoke;
}
.datepicker {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
#datepicker {
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  margin: .5vw;
}

.body-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 80vh;
}
.navbar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 15%;
  height: 80vh;
  background: whitesmoke;
  /* overflow-y: scroll; */
}
.nav-labels {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;
  text-align: left;
  color: rgb(59, 59, 59);
  text-decoration: none;
}
.nav-labels:hover {
  cursor: pointer;
  background: #9b9b9b;
}
#nav-images {
  margin: 1vh 2vw 1vh 2vw;
}
.navbar-hr {
  border: 1px solid rgb(233, 230, 230);
  margin: 0;
}
.main-container-quotes, .main-lyrics-lyrics {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 85%;
  overflow-y: scroll;
}
.row-quotes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 500vh;
  margin: 5px;
  border-radius: 15px;
  background: whitesmoke;
}

input {
  border-style: none;
  border: 1px solid lightgray;
}
img {
  margin: 5px;
}

.selected {
  background: #9b9b9b;
}
.hidden {
  display: none;
}